# Dependencies
node_modules/
.npm/
package-lock.json

# Local env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
